.animationSpinner-svg-elem-1 {
  stroke-dashoffset: 141.05038452148438px;
  stroke-dasharray: 141.05038452148438px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s,
    fill 2.5s cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.8s;
  transition: stroke-dashoffset 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s,
    fill 2.5s cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.8s;
}

.animationSpinner-svg-elem-1.active {
  stroke-dashoffset: 0;
  fill: rgb(254, 254, 254);
}

.animationSpinner-svg-elem-2 {
  stroke-dashoffset: 141.05038452148438px;
  stroke-dasharray: 141.05038452148438px;
  -webkit-transition: stroke-dashoffset 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.12s,
    fill 2.5s cubic-bezier(0.6, -0.28, 0.735, 0.045) 1s;
  transition: stroke-dashoffset 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.12s,
    fill 2.5s cubic-bezier(0.6, -0.28, 0.735, 0.045) 1s;
}

.animationSpinner-svg-elem-2.active {
  stroke-dashoffset: 0;
}

.animationSpinner-svg-elem-3 {
  stroke-dashoffset: 19.82625389099121px;
  stroke-dasharray: 19.82625389099121px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.24s,
    fill 2.5s cubic-bezier(0.6, -0.28, 0.735, 0.045) 1.2000000000000002s;
  transition: stroke-dashoffset 2s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.24s,
    fill 2.5s cubic-bezier(0.6, -0.28, 0.735, 0.045) 1.2000000000000002s;
}

.animationSpinner-svg-elem-3.active {
  stroke-dashoffset: 0;
  fill: rgb(51, 152, 237);
}
